/* --------------------------------------------------------------------------------
 ------------------------------------   Header  -----------------------------------  
 ----------------------------------------------------------------------------------  */

 .tiklalTitle {
	padding-right: 1.5vw;
	padding-top: 1.6vh;
}

/* --------------------------------------------------------------------------------  
 ------------------------------------   footer  ----------------------------------  
 ----------------------------------------------------------------------------------  */

.footer {
	padding-bottom: 0.2vh;
	height: 14vh;
}
